DATABASE_URL=postgresql://hmylaser:CHANGEME@10.0.3.51:5432/hmylaser
SESSION_SECRET=changeme_must_be_at_least_32_characters_long
BRIDGE_ACCESS_SECRET=changeme
NEXT_PUBLIC_GITHUB_URL=https://github.com/Haaremy/hmyLaser32
NEXT_PUBLIC_DEFAULT_LOCALE=de
